.photo-upload-container {
    background-color: #EDEDED;
    padding: 20px;
    border-radius: 10px;
    color: #6C4A4A;
    max-width: 600px;
    margin: auto;
  }
  
  .photo-upload-container h1 {
    color: #6C4A4A;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .photo-upload-container input,
  .photo-upload-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #DDBEBE;
    background-color: #EDEDED;
    color: #6C4A4A;
  }
  
  .photo-upload-container button {
    width: 100%;
    padding: 10px;
    background-color: #C89595;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .photo-upload-container button:hover {
    background-color: #DDBEBE;
  }
  
  .image-previews img {
    border: 2px solid #C89595;
    border-radius: 5px;
  }
  
  .sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #C89595;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #DDBEBE;
  }
  
  .sidebar a.active {
    background-color: #6C4A4A;
  }
  